
h1,
 h2,
 h3,
 h4, 
 h5, 
 h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


img {
    display: block;
}
button {
    cursor: pointer;
    
        
}
.list {
list-style-type: none;
}
.link{
   text-decoration: none; 
}
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #ffffff;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* ======== Page header==================================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
   
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;}

 .container-flex{
    display: flex;
    align-items: center;
 }   
    
.page-navigation {
    gap: 40px;
    display: flex;
    align-items: center;
          
}
.logo-web{
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5; 

}
.logo-span {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
      
}

 .logo-web:hover,
 .logo-span:focus{
color: #404bbf;
}

.menu {
display: flex;
gap: 40px;
   }
   .nav-list{
    padding: 24px 0;
    
   }
 /*==== Contacts=========================================== */
.page-contacts{
margin-left: auto;
display: flex;
gap: 40px;
}

 .page-contacts-list{
display: flex;
gap: 40px;

}
    
 .contact-list-item, .contact-list-item-tell {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   


   }
.contact-list-item :hover,
.contact-list-item :focus {
    color: #434455;

}


 /* ==============HERO SECTION =============================== */ 

 .hero-section{
background:  #2e2f42;
padding-top: 188px;
  padding-bottom: 188px;
}
.main-title  {
    max-width: 496px;
    color: #ffffff;
    text-align:center;
    font-size: 56px;
    font-weight:700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
   margin-bottom: 48px;
    background-color: #2E2F42;


}
.other-service {
    
    margin:  auto;
    padding: 16px 32px 16px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #ffffff}
 
    

.other-service{
   display: block;
   min-width: 169px;
   height: 56px;
   border: none;
   background-color: #4d5ae5;
   border-radius: 4px;
}
.button{
    
   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin:  auto; 
}
  .other-service:hover,
  .other-service:focus{
color: #ffffff;
background-color: #404bbf;

}

  /* ========  OUR Section=======================================*/

.section-one-name{
    padding: 120px 0 120px;
    background: #ffffff;
}
.criteria-section{
   display: flex;
    gap: 24px;
    }
.criteria-list-item{
    width: calc((100% - 72px) / 4);
}

.criteria-list-title{

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
  
}
.text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ========================< !--Our Team -->================== */


.team-section{
padding: 120px 0 120px;
background-color: #F4F4FD;

}
.section-title{
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: #2E2F42;


}
.team-section-our {
    display: flex;
    gap: 24px;
}
.team-section-list-item{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
background-color: #ffffff;
 }

.first-name{
 padding: 32px 0;
}
    
.team-section-list-title{
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
background-color: #FFFFFF;
text-align: center;
margin-bottom: 8px;
}
.text-section{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;  

}


/* ==============================Portfolio====================== */
.portfolio-section  {
   padding-top: 120px;
   padding-bottom: 120px;
   background: #ffffff;
  
}
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;  
    margin-bottom: 72px; 
    text-align: center;


}  


.portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;   
}
.portfolio-list{
    width: calc((100%-(2*(3*24px))) / 6);}

.portfolio-list-title{
font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
    margin-bottom: 72px; 
    margin-bottom: 8px;
 }

.container-profesiya{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;

}

/* =================================Footer============================== */
.page-footer{
    background-color: #2e2f42;
    padding: 100px 0 100px;
}
.page-footer-list{
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4D5AE5;
   background-color: #2E2F42;
   margin-bottom: 16px;
   display: inline-block;
}
.logo-title-studio{
font-family: Raleway;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.1;
   letter-spacing: 0.03em;
   color: #F4F4FD;
   background-color: #2E2F42;

}
.text-footer-paragraphe{
   color: #f4f4fd;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   max-width: 264px;}








